section.how-it-works {
    position: relative;
    min-height: 100vh;
    z-index: -3;
    background-image: linear-gradient( 0deg, hsl(0deg 0% 100%) 56%, hsl(134deg 17% 81%) 64%, hsl(136deg 21% 55%) 69%, hsl(143deg 61% 32%) 77%, hsl(143deg 61% 32%) 87%, hsl(143deg 61% 32%) 100% );
    color: #111;
}

.wave4 {
    position: absolute;
    top: 0;
    width: 130%;
    height: 400px;
    transform: rotate(180deg) translateY(60px);
    mask-image: linear-gradient(to bottom, transparent 0%, black 70%, black 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 30%, black 70%, black 100%);
    filter: blur(20px);
    z-index: -2;
}

.wave5 {
    position: absolute;
    top: 0;
    width: 130%;
    height: 100px;
    transform: rotate(180deg) translateY(60px);
    filter: blur(0px);
    z-index: 0;
}

section.how-it-works h1 {
    transform: translateY(150px);
    white-space: nowrap;
    font-size: calc(97vw / var(--letters));
    width: 100vw;
    display: block;
    margin: 0;
    padding: 0px;
    color: black;
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    line-height: 1;
    letter-spacing: -10px;
}

section.how-it-works h3 p {
    display: block;
    color: black;
    transform: translateY(125px);
}