section.how-it-works1 {
    position: relative;
    min-height: 100vh;
    z-index: -3;
    background-image: linear-gradient(
        0deg,
        hsl(0deg 0% 100%) 13%,
        hsl(300deg 100% 100%) 48%,
        hsl(300deg 100% 100%) 62%,
        hsl(0deg 0% 100%) 70%,
        hsl(300deg 100% 100%) 77%,
        hsl(300deg 100% 100%) 81%,
        hsl(0deg 0% 100%) 85%,
        hsl(300deg 100% 100%) 88%,
        hsl(300deg 100% 100%) 91%,
        hsl(0deg 0% 100%) 92%,
        hsl(344deg 0% 64%) 94%,
        hsl(344deg 0% 31%) 96%,
        hsl(0deg 0% 0%) 99%
        );
    color: #111;
}

.wave3 {
    position: absolute;
    top: -50px;
    left: -60px;
    width: 110vw;
    height: auto;
    z-index: 0;
    pointer-events: none;
    filter: blur(30px);
    mask-image: linear-gradient(to top, transparent 0%, black 30%, black 100%);
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 30%, black 100%);
}

section.how-it-works1 h1 {
    transform: translateY(120px);
    font-size: calc(97vw / var(--letters));
    line-height: 0.75;
    display: block;
    margin: 0;
    color: black;
    font-family: "Gill Sans", sans-serif;
    text-align: center;
}

section.how-it-works1 .footer {
    transform: translateY(120px);
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 0;
    gap: 17.75vw;
    margin-top: 0;
    text-transform: uppercase;
    white-space: nowrap;
}

section.how-it-works1 .footer span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(97vw / var(--letters));
    color: black;
    font-weight: 600;
    text-align: center;
}

section.how-it-works2 {
    position: relative;
    min-height: 100vh;
    z-index: -3;
    background-image: linear-gradient(
        180deg,
        hsl(0deg 0% 100%) 13%,
        hsl(300deg 100% 100%) 48%,
        hsl(300deg 100% 100%) 62%,
        hsl(0deg 0% 100%) 70%,
        hsl(300deg 100% 100%) 77%,
        hsl(300deg 100% 100%) 81%,
        hsl(0deg 0% 100%) 85%,
        hsl(300deg 100% 100%) 88%,
        hsl(300deg 100% 100%) 91%,
        hsl(0deg 0% 100%) 92%,
        hsl(344deg 0% 64%) 94%,
        hsl(344deg 0% 31%) 96%,
        hsl(0deg 0% 0%) 99%
    );
    color: #111;
}

.wave4 {
    position: absolute;
    bottom: -60px;
    width: 110vw;
    left: -50px;
    height: auto;
    z-index: -1;
    filter: blur(20px);
    pointer-events: none;
}