.home {
    position: relative;
}

.wave1 {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: -20px;
    width: 110vw;
    height: 500px;
    z-index: -2;
    overflow: hidden;
    filter: blur(20px);
    mask-image: linear-gradient(to bottom, transparent 0%, black 70%, black 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 70%, black 100%);
}

.wave2 {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: -20px;
    width: 110vw;
    height: 320px;
    z-index: -2;
    overflow: hidden;
    filter: blur(10px);
    mask-image: linear-gradient(to bottom, transparent 0%, black 70%, black 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 70%, black 100%);
}

.wave3 {
    position: absolute;
    bottom: 0;
    height: 320px;
    left: -20px;
    width: 110vw;
    z-index: -2;
    transform: translateY(50px);
    mask-image: linear-gradient(to bottom, transparent 0%, black 70%, black 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%,black 70%, black 100%);
    filter: blur(30px);
}

.wave4 {
    position: absolute;
    top: 0;
    left: -800px;
    width: 250vw;
    height: 1000px;
    transform: rotate(180deg) translateY(60px);
    mask-image: linear-gradient(to bottom, transparent 0%, black 70%, black 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 30%, black 70%, black 100%);
    filter: blur(20px);
    z-index: -2;
}

.wave6 {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 350px;
    mask-image: linear-gradient(to bottom, transparent 0%, black 70%, black 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 70%, black 100%);
    transform: translateY(0px);
    z-index: -2;
    filter: blur(20px);
}

.wave7 {
    position: absolute;
    width: 100vw;
    height: 300px;
    mask-image: linear-gradient(to bottom, transparent 0%, black 70%, black 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 70%, black 100%);
    transform: rotate(180deg) translateY(0px);
    z-index: -2;
    filter: blur(20px);
}

.wave8 {
    position: absolute;
    left: -20px;
    width: 110vw;
    height: 250px;
    transform: rotate(180deg) translateY(40px);
    z-index: 1;
    filter: blur(20px);
}

.wave9 {
    position: absolute;
    left: -20px;
    width: 110vw;
    height: 120px;
    transform: translateY(-110px);
    z-index: 1;
    filter: blur(12px);
}

.wave1,
.wave2,
.wave3,
.wave4,
.wave6,
.wave7,
.wave8,
.wave9 {
    height: auto;
    display: block;
}

.parallax > use {
    animation: move-forever 10s cubic-bezier(0.55, 0.5, 0.45, 0.5)infinite;
}

.parallax1>use:nth-child(1) {
    animation-delay: -10s;
    animation-duration: 10s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}