body {
    background-color: #282828; 
    color: #ffffff;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.fc-toolbar {
    background: linear-gradient(135deg, #1f1f1f, #2a2a2a); 
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.fc-toolbar h2 {
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.fc {
    background: rgba(43, 43, 43, 0.85);
    border-radius: 12px;
    padding: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 8px 20px rgba(255, 255, 255, 0.1);
}

.fc-col-header-cell {
    background: linear-gradient(135deg, #2a2a2a, #3a3a3a);
    color: #ffff;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #4444;
}

/* blok dnia */
.fc-daygrid-day {
    background: linear-gradient(145deg, #1e1e1e, #292929);
    border: 1px solid #080707;
    color: #ffff;
    transition: background 0.3s ease-in-out, transform 0.2s;
}

.fc-daygrid-day:hover {
    background: linear-gradient(145deg, #292929, #323232);
    transform: scale(1.02);
}

.fc-day-today {
    background: rgba(132, 235, 182, 0.4) !important;
    border-radius: 6px;
    box-shadow: inset 0px 0px 10px rgba(184, 233, 210, 0.5);
}

.fc-event {
    border: none;
    border-radius: 6px;
    padding: 5px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    font-weight: bold;
}

/* animacja najezdzania na dany blok w dniu */
.fc-event:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.3);
    filter: brightness(1.2);
}

.fc-button {
    background: linear-gradient(135deg, #444, #555);
    color: #ffffff;
    border-radius: 8px;
    padding: 10px 14px;
    transition: background 0.3s ease-in-out, transform 0.2s, box-shadow 0.2s;
    font-weight: bold;
}

.fc-button:hover {
    background: linear-gradient(135deg, #666, #777);
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}

.fc-button-active {
    background: linear-gradient(135deg, #00C853, #008F4E) !important;
    color: white !important;
    box-shadow: 0px 0px 10px rgba(71, 229, 150, 0.7);
}

.fc-today-button {
    background: linear-gradient(135deg, #00C853, #008F4E) !important;
    color: white !important;
    font-weight: bold;
}

@media (max-width: 768px) {
    .fc-toolbar {
        font-size: 12px;
    }
}

#calendar {
    max-width: 1100px;
    margin: 20px auto;
    padding: 10px;
}

.fc-view-harness {
    min-height: auto !important; 
    height: auto !important;
    overflow: visible !important; 
}

@media (max-width: 768px) {
    #calendar {
        width: 95%;
        margin: 20px auto;
    }
    .fc {
        min-height: 500px;
    }
}