body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.sidebar {
    width: 60px;
    height: 100%;
    background-color: #222;
    padding: 20px 0;
    box-sizing: border-box;
    color: #fff;
    overflow: hidden;
    border-radius: 1rem 0 0 1rem;
    transition: width .75s ease;
    position: fixed;
    z-index: 9999;
}

.sidebar:hover {
    width: 180px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li.menu-item {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 30px 0;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.3 ease;
}

.icon {
    margin-left: 15px;
    width: 30px;
    height: 30px;
    color: white;
}

.icon_info {
    margin-left: 11px;
    width: 38px;
    height: 38px;
    color: white;
}

.label {
    color: white;
    margin-left: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar:hover .label {
    opacity: 1;
}

.sidebar:hover ul li.menu-item {
    opacity: 1;
}

.sidebar ul li.menu-item:hover {
    text-decoration: underline;
}

.content {
    margin-left: 60px;
    padding: 20px;
    width: 100%;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.separator {
    border-radius: 1px;
    height: 2px;
    background-color: #444;
    box-sizing: border-box;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 60px;
    transition: 
        opacity 0.75s ease,
        width 0.75s ease,
        margin 0.75s ease;
    list-style: none;
    display: block;
    pointer-events: none;
    padding: 0;
    border: none;
    opacity: 0.5;
    box-sizing: border-box;
}

.sidebar:hover .separator {
    width: calc(180px - 20px);
    margin-left: 10px;
    margin-right: 10px;
    opacity: 1;
}

.separator_2 {
    border-radius: 1px;
    height: 2px;
    background-color: #444;
    box-sizing: border-box;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 60px;
    margin-bottom: 10px;
    transition: 
        opacity 0.75s ease,
        width 0.75s ease,
        margin 0.75s ease;
    list-style: none;
    display: block;
    pointer-events: none;
    padding: 0;
    border: none;
    opacity: 0.5;
    box-sizing: border-box;
}

.sidebar:hover .separator_2 {
    width: calc(180px - 20px);
    margin-left: 10px;
    margin-right: 10px;
    opacity: 1;
}